/* Estilos para la Home */
.home-container {
    padding: 20px;
  }
  
  .cuentos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual tamaño */
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .cuentos-heading {
    color: #8B4513; /* Color marrón para el encabezado */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
  }
  
  @media (max-width: 1024px) {
    .cuentos-grid {
      grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas medianas */
    }
  }
  
  @media (max-width: 768px) {
    .cuentos-grid {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .cuentos-grid {
      grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
    }
  }
  