.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #8B4513;
    z-index: 1000;
}

/* Ajusta la imagen de la izquierda */
.left-logo {
    height: 50px;
}

/* Contenedor de la imagen en el centro */
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

/* Imagen en el centro */
.center-image {
    height: 60px; /* Ajusta el tamaño según lo que necesites */
}

/* Ajustes para móviles */
@media (max-width: 767px) {
    .navbar-center {
        position: relative;
        left: auto;
        transform: none;
        justify-content: center;
        margin-top: 10px;
    }

    .center-image {
        height: 50px;
    }
}
